.skillcard-bg-image {
  display: flex;
  width: 334.327px;
  height: 92px;
  padding: 21px 23.327px 21px 16px;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #b2b2b2;
  background: #fff;
  transition: all 0.3s linear;
}

.skillcard-bg-image:hover {
  box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s linear;
  /* background-color: #7D66BB; */
  border: none;
}

.skill-card-main-text:hover {
  color: #7D66BB;
}


.skill-icon-div-bg:hover {}


.skill-icon-div-bg {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e6e6e6;
}

.skil-card-head-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.skill-card-main-text {
  color: #424242;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.9%;
  /* 29.458px */
}


@media screen and (max-width : 576px) {
  .skil-card-head-div {
    gap: 6px;
  }

  .skillcard-bg-image {
    display: flex;
    padding: 5px 8.726px 5px 4px;
    align-items: center;
    gap: 8px;
    border-radius: 7px;
    border: 0.5px solid #B2B2B2;
    background: #FFF;
    width: 141px;
    height: 39px;

  }

  .skill-icon-div-bg {
    height: 29px;
    width: 29px;
  }

  .skill-card-main-text {
    color: #424242;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.9%;
    /* 12.051px */
  }
}