.skillcard-bg-image {
  display: flex;
  width: 334.327px;
  height: 92px;
  padding: 21px 23.327px 21px 16px;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #b2b2b2;
  background: #fff;
}
.skill-icon-div-bg {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e6e6e6;
}
.skil-card-head-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.skill-card-main-text {
  color: #424242;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.9%; /* 29.458px */
}
